<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email</title>
</head>
<body>

	<style>
        @media only screen and (min-width: 768px) {
            .container {
                width: 50%;
            }
        }
    </style>
	<div style="background-color: ghostwhite; margin: 0 auto;">
		<div style="display: flex; margin: 0 auto; justify-content: center !important; background-color: white; padding: 15px 0;">
			<img src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/1376/Companify-Logo.png" style="max-width: 100%;" alt="I'm an image" title="I'm an image">
		</div>
	
		<div class="container" style="margin: 20px auto; padding: 20px 0; font-family: Montserrat, Trebuchet MS, sans-serif; background-color: white;">
			<div style="text-align: center;">
				<img src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/1376/Img1_2x.jpg" style="max-width: 100%; height: auto;" alt="I'm an image" title="I'm an image">
			</div>
	
			<div style="padding-top: 50px;">
				<div style="font-size: 30px; color: #2b303a; text-align: center; line-height: 120%; margin: 0;">
					<strong>Verify Your Email Account</strong>
				</div>
			</div>
	
			<div style="padding: 10px 20px; padding-bottom: 10px;">
				<div style="font-size: 15px; color: #808389; line-height: 150%; margin: 0;">
					<strong>Hello, {{user_name}}</strong>
					<p>{{message}}</p>
				</div>
			</div>
	
			<div style="padding: 15px 0; display: flex; justify-content: center !important;">
				<strong>
					<a href="#" style="max-width: max-content; text-decoration: none; color: #ffffff; background-color: #1aa19c; border-radius: 60px; width: auto; border: 0; padding: 15px 30px; font-size: 16px; font-family: 'Montserrat', sans-serif; text-align: center;">
						Confirm Your Email
					</a>
				</strong>
			</div>
		</div>
		<div class="container" style="background-color: #2b303a; color: #000000; margin: 0 auto; font-family: Montserrat, Trebuchet MS, sans-serif;">
			<div style="text-align: left;">
				<div style="border-top: 0; border-right: 0; border-bottom: 0; border-left: 0; font-weight: 400;">
					<img src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/1376/footer.png" style="max-width: 100%; height: auto; border: 0; margin: 0 auto;" width="100%" alt="I'm an image" title="I'm an image">
					<div style="display: flex; justify-content: center;">
						<img src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/1376/Logo-white.png" style="max-width: 100%; height: auto; border: 0; margin: 0 auto;" width="149" alt="Alternate text" title="Alternate text">
					</div>
	
					<div style="padding: 28px 10px 10px 10px; text-align: center;">
						<a href="https://www.facebook.com" target="_blank"><img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-white/facebook@2x.png" width="32" height="32" alt="Facebook" title="Facebook" style="display: inline-block; height: auto; border: 0; margin: 0 10px;"></a>
						<a href="https://www.twitter.com" target="_blank"><img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-white/twitter@2x.png" width="32" height="32" alt="Twitter" title="Twitter" style="display: inline-block; height: auto; border: 0; margin: 0 10px;"></a>
						<a href="https://www.instagram.com" target="_blank"><img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-white/instagram@2x.png" width="32" height="32" alt="Instagram" title="Instagram" style="display: inline-block; height: auto; border: 0; margin: 0 10px;"></a>
						<a href="https://www.linkedin.com" target="_blank"><img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-white/linkedin@2x.png" width="32" height="32" alt="LinkedIn" title="LinkedIn" style="display: inline-block; height: auto; border: 0; margin: 0 10px;"></a>
					</div>
	
					<div style="word-break: break-word; padding: 15px 40px 10px 40px; color: #555555; font-size: 12px; line-height: 150%; text-align: left; margin: 0 auto;">
						<p style="margin: 0; word-break: break-word; color: #95979c;">For any further inquiries or assistance related to tax matters, please do not hesitate to contact our dedicated team. We are committed to providing efficient and reliable tax revenue collection services. Your cooperation is crucial in maintaining a smooth and compliant tax process. <br> Thank you for your prompt attention to this matter.</p>
					</div>
					<div style="margin: 0 35px; font-size: 1px; line-height: 1px; border-top: 1px solid #555961;"></div>
					<div style="word-break: break-word; padding: 20px 40px 30px 40px; color: #555555; font-size: 12px; line-height: 120%; text-align: left; margin: 0 auto;">
						<p style="margin: 0; word-break: break-word; color: #95979c;">Companify Copyright © 2020</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</body>
</html>

